.asci-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #151914;
}
.asci-navlink {
  display: contents;
}
.asci-component {
  text-decoration: none;
}
