.giftofspeed-slider-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-primary-bg);
}
.giftofspeed-slider-container01 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
}
.giftofspeed-slider-sliderpanel {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-activ {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-passiv {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv01 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv02 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv03 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv04 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv05 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv06 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv07 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv08 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-larrow {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-lottie-node {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  display: none;
  align-self: center;
}
.giftofspeed-slider-container03 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.giftofspeed-slider-container04 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.giftofspeed-slider-text1 {
  width: auto;
}
.giftofspeed-slider-container05 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-passiv09 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-activ01 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-passiv10 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv11 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv12 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv13 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv14 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv15 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv16 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv17 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-larrow01 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow01 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-container06 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-passiv18 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv19 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-activ02 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-passiv20 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv21 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv22 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv23 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv24 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv25 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv26 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-larrow02 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow02 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-container07 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-passiv27 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv28 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv29 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-activ03 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-passiv30 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv31 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv32 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv33 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv34 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv35 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-larrow03 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow03 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-container08 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-passiv36 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv37 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv38 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv39 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-activ04 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-passiv40 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv41 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv42 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv43 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv44 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-larrow04 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow04 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-container09 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-passiv45 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv46 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv47 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv48 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv49 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-activ05 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-passiv50 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv51 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv52 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv53 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-larrow05 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow05 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-passiv54 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv55 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv56 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv57 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv58 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv59 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-activ06 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-passiv60 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv61 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv62 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-larrow06 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow06 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-passiv63 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv64 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv65 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv66 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv67 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv68 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv69 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-activ07 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-passiv70 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv71 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-larrow07 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow07 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-container12 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-passiv72 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv73 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv74 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv75 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv76 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv77 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv78 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv79 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-activ08 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-passiv80 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-larrow08 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow08 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.giftofspeed-slider-storyfortschrit09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.giftofspeed-slider-passiv81 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv82 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv83 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv84 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv85 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv86 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv87 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv88 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-passiv89 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.giftofspeed-slider-activ09 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.giftofspeed-slider-larrow09 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-rarrow09 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.giftofspeed-slider-container15 {
  display: contents;
}




@media(max-width: 991px) {
  .giftofspeed-slider-larrow {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-larrow01 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow01 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-larrow02 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow02 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-larrow03 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow03 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-larrow04 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow04 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-larrow05 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow05 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-larrow06 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow06 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-larrow07 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow07 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-larrow08 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow08 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-larrow09 {
    bottom: var(--dl-space-space-halfunit);
  }
  .giftofspeed-slider-rarrow09 {
    bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 480px) {
  .giftofspeed-slider-container03 {
    height: auto;
    justify-content: flex-start;
  }
  .giftofspeed-slider-container04 {
    flex-direction: column;
  }
  .giftofspeed-slider-text1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
@media(max-width: 360px) {
  .giftofspeed-slider-container03 {
    width: 100%;
    height: auto;
  }
}
