.strom-slider-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-primary-bg);
}
.strom-slider-container01 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
}
.strom-slider-sliderpanel {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.strom-slider-container02 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.strom-slider-storyfortschrit {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.strom-slider-activ {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.strom-slider-passiv {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv01 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv02 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv03 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv04 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv05 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-larrow {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-rarrow {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-lottie-node {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  display: none;
  align-self: center;
}
.strom-slider-container03 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.strom-slider-container04 {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.strom-slider-image {
  width: 50px;
  height: auto;
  object-fit: cover;
}
.strom-slider-text01 {
  width: auto;
  margin-left: var(--dl-space-space-twounits);
}
.strom-slider-container05 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.strom-slider-image01 {
  width: 50px;
  height: auto;
  object-fit: cover;
}
.strom-slider-text02 {
  width: auto;
  margin-left: var(--dl-space-space-twounits);
}
.strom-slider-container06 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.strom-slider-image02 {
  width: 50px;
  height: auto;
  object-fit: cover;
}
.strom-slider-text03 {
  width: auto;
  margin-left: var(--dl-space-space-twounits);
}
.strom-slider-container07 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.strom-slider-storyfortschrit1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.strom-slider-passiv06 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-activ1 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.strom-slider-passiv07 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv08 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv09 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv10 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv11 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-container08 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-container09 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.strom-slider-image03 {
  width: 50px;
  height: auto;
  object-fit: cover;
}
.strom-slider-text06 {
  margin-left: var(--dl-space-space-twounits);
}
.strom-slider-container10 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.strom-slider-image04 {
  width: 50px;
  height: auto;
  object-fit: cover;
}
.strom-slider-text07 {
  margin-left: var(--dl-space-space-twounits);
}
.strom-slider-larrow1 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-rarrow1 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.strom-slider-storyfortschrit2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.strom-slider-passiv12 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv13 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-activ2 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.strom-slider-passiv14 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv15 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv16 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv17 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-container12 {
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.strom-slider-image05 {
  width: 100px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.strom-slider-text09 {
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.strom-slider-larrow2 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-rarrow2 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.strom-slider-storyfortschrit3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.strom-slider-passiv18 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv19 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv20 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-activ3 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.strom-slider-passiv21 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv22 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv23 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-larrow3 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-rarrow3 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-container14 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-container15 {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: row;
}
.strom-slider-text11 {
  margin-right: var(--dl-space-space-unit);
}
.strom-slider-image06 {
  width: 200px;
  object-fit: cover;
}
.strom-slider-text12 {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-twounits);
}
.strom-slider-container16 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
}
.strom-slider-text13 {
  margin-right: var(--dl-space-space-unit);
}
.strom-slider-image07 {
  width: 200px;
  object-fit: cover;
}
.strom-slider-text14 {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-twounits);
}
.strom-slider-container17 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.strom-slider-storyfortschrit4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.strom-slider-passiv24 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv25 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv26 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv27 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-activ4 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.strom-slider-passiv28 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv29 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-larrow4 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-rarrow4 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-container18 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-container19 {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.strom-slider-text16 {
  margin-right: var(--dl-space-space-unit);
}
.strom-slider-image08 {
  width: 200px;
  object-fit: cover;
}
.strom-slider-text17 {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-twounits);
}
.strom-slider-container20 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.strom-slider-text18 {
  margin-right: var(--dl-space-space-unit);
}
.strom-slider-image09 {
  width: 200px;
  object-fit: cover;
}
.strom-slider-text19 {
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-twounits);
}
.strom-slider-container21 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.strom-slider-storyfortschrit5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.strom-slider-passiv30 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv31 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv32 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv33 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv34 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-activ5 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.strom-slider-passiv35 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-larrow5 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-rarrow5 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-container22 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-text21 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.strom-slider-text22 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-text23 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-text24 {
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-container23 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.strom-slider-storyfortschrit6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
.strom-slider-passiv36 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv37 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv38 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv39 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv40 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-passiv41 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.strom-slider-activ6 {
  flex: 0 0 auto;
  width: auto;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-metal);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-primary-gruen);
}
.strom-slider-larrow6 {
  flex: 0 0 auto;
  left: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-rarrow6 {
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  bottom: 0px;
  height: 50%;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.strom-slider-container24 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-image10 {
  width: var(--dl-size-size-medium);
  object-fit: cover;
}
.strom-slider-text26 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-text27 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.strom-slider-container26 {
  display: contents;
}




.strom-slider-root-class-name4 {
  top: 0px;
}
@media(max-width: 991px) {
  .strom-slider-larrow {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-rarrow {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-larrow1 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-rarrow1 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-larrow2 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-rarrow2 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-larrow3 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-rarrow3 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-larrow4 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-rarrow4 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-larrow5 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-rarrow5 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-larrow6 {
    bottom: var(--dl-space-space-halfunit);
  }
  .strom-slider-rarrow6 {
    bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 480px) {
  .strom-slider-container {
    height: 100%;
    margin-bottom: 50px;
  }
  .strom-slider-container03 {
    height: auto;
    justify-content: flex-start;
  }
  .strom-slider-container15 {
    flex-direction: column;
  }
  .strom-slider-text11 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .strom-slider-text12 {
    margin-left: 0px;
  }
  .strom-slider-container16 {
    flex-direction: column;
  }
  .strom-slider-text13 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .strom-slider-text14 {
    margin-left: 0px;
  }
  .strom-slider-container19 {
    flex-direction: column;
  }
  .strom-slider-text16 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .strom-slider-text17 {
    margin-left: 0px;
  }
  .strom-slider-container20 {
    flex-direction: column;
  }
  .strom-slider-text18 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .strom-slider-text19 {
    margin-left: 0px;
  }
  .strom-slider-root-class-name4 {
    margin-bottom: 0px;
  }
}
@media(max-width: 360px) {
  .strom-slider-container03 {
    width: 100%;
    height: auto;
  }
  .strom-slider-image {
    width: 50px;
    height: auto;
  }
  .strom-slider-container15 {
    flex-direction: column;
  }
  .strom-slider-text11 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .strom-slider-container16 {
    flex-direction: column;
  }
  .strom-slider-text13 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .strom-slider-container19 {
    flex-direction: column;
  }
  .strom-slider-text16 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .strom-slider-container20 {
    flex-direction: column;
  }
  .strom-slider-text18 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .strom-slider-root-class-name4 {
    height: auto;
    margin-bottom: 0px;
  }
}
